/* Spartan Font */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
    font-size: 100%; /* in most browsers, 16px */
    box-sizing: border-box;
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    font-size: 0.9375em; /* 15px */
    font-family: Spartan, sans-serif;
    text-align: center;
    margin: 4.75em 0;
    background: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
    background-repeat: no-repeat;
    background-position: top, bottom;
    background-size: 100%;
}
h1 {
    color: var(--very-dark-magenta);
    font-size: 2em;
    margin: 0 1.5em;
    line-height: 1;
}
h2 {
    color: var(--white);
    font-size: 0.9375em;
}
footer {
    color: var(--dark-grayish-magenta);
    opacity: .75;
    line-height: 1.5;
    margin-top: .75em;
}
h1 + p {
    color: var(--dark-grayish-magenta);
    font-weight: 500;
    line-height: 1.65;
    margin: 1.5em 1.2em 3em 1.2em;
}
img[src*='icon-star'] {
    padding-left: 0.55em;
}
footer a {
    color: var(--soft-pink);
}
footer a:hover, footer a:focus {
    color:hsl(333, 80%, 77%)
}
.star-ratings, .customer-reviews {
    margin: 5%;
}
.rating {
    background-color: var(--light-grayish-magenta);
    border-radius: 10px;
    margin-top: 1.15em;
    padding: .25em;
}
.rating p {
    color: var(--very-dark-magenta);
    font-weight: 700;
    margin: .75em;
}
.customer-reviews {
    margin-top: 3.25em;
}
.review {
    background-color: var(--very-dark-magenta);
    text-align: left;
    line-height: 1.5;
    border-radius: 10px;
    padding: 2em;
    margin-top: 1.25em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.customer-image {
    border-radius: 50%;
    width: 2.75em;
    height: auto;
}
.review-header {
    margin-left: 1.75em;
}
.review > p {
    color: var(--white);
    font-size:  0.89em;
    line-height: 1.75;
    padding: 2em 0em .5em 0;
}
p.verified {
    color: var(--soft-pink);
    font-size: 0.9375em;
}

@media screen and (min-width: 700px) {
    body {
        background-size: 30%;
    }
    h1 {
        font-size: 2.5em;
    }
    h1 + p {
        width: 65%;
        margin: 1.5em auto;
    }
    .star-ratings, .customer-reviews {
        margin: 0 15%;
    }
}

@media screen and (min-width: 1300px) {
    body {
        background: url(../images/bg-pattern-top-desktop.svg), url(../images/bg-pattern-bottom-desktop.svg);
        background-repeat: no-repeat;
        background-position: top left, bottom;
        background-attachment: fixed;
    }
    h1, h1 + p {
        text-align: left;
        margin: 0;
    }
    h1 {
        font-size: 3.5em;
        margin-right: 3em;
    }
    h1 + p {
        margin: 1em 8.75em 0 0;
    }
    .wrapper {
        margin: 6em 6em 0 6em;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.5fr 0.5fr;
    }
    .star-ratings {
        margin: 0;
        display: flex;
        flex-direction: column;
    }
    .rating:nth-child(2) {
        align-self: center;
    }
    .rating:last-child {
        align-self: flex-end;
    }
    .rating {
        width: 80%;
        text-align: left;
        padding: 1.25em;
    }
    .rating p {
        display: inline;
    }
    .customer-reviews {
        margin: 3em 0 0 0;
        height: 300px;
        grid-column: 1 / 3;
        display: flex;
        align-items: flex-start;
    }
    .review {
        margin-top: 0;
        padding: 2.75em;
        height: 90%;
    }
    .review:nth-child(2), .review:last-child {
        margin-left: 2em;
    }
    .review:nth-child(2) {
        align-self: center;
    }
    .review:last-child {
        align-self: flex-end;
    }
    footer {
        margin-top: 2.5em;
    }
}